@using StudentsWebsite.WebUI.Utility
@model StudentsWebsite.WebUI.Models.StudentEditViewModel

@{
    ViewBag.Title = "Редактирование карточки студента";
    ViewBag.PageHeader = "Редактирование карточки студента";
    Layout = "~/Views/_MainLayout.cshtml";
}

@using (Html.BeginForm())
{
    
     if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger">
            @Html.ValidationSummary()
        </div>
    }
    <label>Логин</label>
    if (Model.Student.UserName == "")
    {
        @Html.TextBoxFor(m => m.Student.UserName, new { @class = "form-control" });
    }
    else
    {
        @Html.TextBoxFor(m => m.Student.UserName, new { @class = "form-control", @readonly = "readonly" });
    }
    <label>Пароль</label>
    @Html.TextBoxFor(m => m.Student.Password ,new { @class = "form-control" });
    <label>Имя</label>
    @Html.TextBoxFor(m => m.Student.FirstName ,new { @class = "form-control" });
    <label>Фамилия</label>
    @Html.TextBoxFor(m => m.Student.LastName ,new { @class = "form-control" });
    
    <br />
    <h2>Выбор преподавателей</h2>

    <table class="table display"  id="lecturers">
        <thead>
            <tr>
                <th></th>
                <th>Предмет</th>
                <th>Преподаватель</th>
                <th>Оценка</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var lecturer in Model.Lecturers)
            {
                <tr>
                    <td>
                        @Html.CheckBoxFor(m => lecturer.Selected)
                        @Html.HiddenFor(m => lecturer.LecturerUserName)
                    </td>
                    <td>@lecturer.LecturerSubject</td>
                    <td>
                        @if (Context.User.IsDean())
                        {
                            <a class="btn btn-default btn-xs" href="~/Lecturers/Edit?userName=@lecturer.LecturerUserName">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                        }
                        @if (Context.User.IsLecturer() || Context.User.IsDean())
                        {
                            <a class="btn btn-default btn-xs" href="~/Lecturers/Card?userName=@lecturer.LecturerUserName">
                                <span class="glyphicon glyphicon-user"></span>
                            </a>
                        }
                        @lecturer.LecturerFullName
                    </td>
                    <td>
                        @Html.HiddenFor(m => lecturer.Rating)
                        @if (lecturer.Selected && (lecturer.LecturerUserName == Context.User.Identity.Name || Context.User.IsDean()))
                        {
                            <a class="btn btn-default btn-xs rating-edit">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                        }
                        @if (lecturer.Rating >= 0)
                        {                            
                           <span>@lecturer.Rating</span>                
                        }
                        else
                        {
                            <span>Нет оценки</span>
                        }
                    </td>

                </tr>
            }
        </tbody>
    </table>

    <br />
    <input type="submit" value="@ViewBag.ActionString" class="btn btn-primary" />
   
}

<script>
    $(document).ready(function () {
        //$('#lecturers').DataTable();
        $(".rating-edit").ratingEditor();
    });
</script>