@using StudentsWebsite.WebUI.Utility
@model StudentsWebsite.WebUI.Models.LecturerEditViewModel

@{
    ViewBag.Title = "Редактирование карточки преподавателя";
    ViewBag.PageHeader = "Редактирование карточки преподавателя";
    Layout = "~/Views/_MainLayout.cshtml";
}

@using (Html.BeginForm()) {    
    
     if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger">
            @Html.ValidationSummary()
        </div>
    } 
    <label>Логин</label>
    if (Model.Lecturer.Email.IsEmpty())
    {
        @Html.TextBoxFor(m => m.Lecturer.Email, new { @class = "form-control" })
    }
    else
    {
        @Html.TextBoxFor(m => m.Lecturer.Email, new { @class = "form-control", @readonly = "readonly" })
    }
    
    <label>Пароль</label>
    @Html.TextBoxFor(m => m.Lecturer.Password, new { @class = "form-control" })
    <label>Имя</label>
    @Html.TextBoxFor(m => m.Lecturer.FirstName, new { @class = "form-control" })
    <label>Фамилия</label>
    @Html.TextBoxFor(m => m.Lecturer.LastName, new { @class = "form-control" })
    <label>Предмет</label>
    @Html.TextBoxFor(m => m.Lecturer.Subject, new { @class = "form-control" })
    <br />
    
    
    <br />
    <h2>Выбор студентов</h2>

    <table class="table display" id="students">
        <thead>
            <tr>
                <th></th>
                <th>Имя</th>
                <th>Оценка</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var student in Model.Students)
            {
                <tr>
                    <td>
                        @Html.CheckBoxFor(m => student.Selected)
                        @Html.HiddenFor(m => student.StudentUserName)
                    </td>
                    <td>
                        @if (Context.User.IsDean() || Context.User.IsLecturer())
                        {
                            <a class="btn btn-default btn-xs" href="~/Students/Edit?userName=@student.StudentUserName">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                        }
                        @if (Context.User.IsStudent() || Context.User.IsDean() || Context.User.IsLecturer())
                        {
                            <a class="btn btn-default btn-xs" href="~/Students/Card?userName=@student.StudentUserName">
                                <span class="glyphicon glyphicon-user"></span>
                            </a>
                        }
                        @student.StudentFullName
                    </td>
                    <td>
                        @Html.HiddenFor(m => student.Rating)
                        @if (student.Selected) 
                        { 
                            <a class="btn btn-default btn-xs rating-edit">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                        }
                        @if (student.Rating >= 0)
                        {                            
                            <span>@student.Rating</span>
                        }
                        else
                        {
                            <span>Нет оценки</span>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    
    <input type="submit" value="@ViewBag.ActionString" class="btn btn-primary" />
   
}

<script>
    $(document).ready(function () {
        //$('#students').DataTable();
        $(".rating-edit").ratingEditor();
       
    });
</script>



