@model StudentsWebsite.WebUI.Models.LoginViewModel

@{
    ViewBag.Title = "Login";
    ViewBag.PageHeader = "Страница входа в систему";
    Layout = "~/Views/_MainLayout.cshtml";
}

@using (Html.BeginForm()) { 
    @Html.LabelFor(m => m.UserName)
    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
    
    @Html.LabelFor(m => m.Password)
    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })

    if (!Html.ViewData.ModelState.IsValid) 
    { 
        <div class="alert alert-danger" role="alert">
            @Html.ValidationSummary()
        </div>
    }

    <input type="submit" value="Войти" class="btn btn-primary" />
}
